@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Nunito", Inter, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  #Login-section {
    @apply w-screen h-screen flex items-center justify-center bg-[url('/src/assets/images/ralph-ravi-kayden-FqqiAvJejto-unsplash.jpg')] bg-cover bg-center bg-no-repeat relative overflow-hidden;
  }

  .form-control {
    @apply border-b border-gray-300 w-full p-2 text-sm focus:border-primaryColor focus:outline-none;
  }

  .sidebar-nav {
    @apply fixed left-3 top-3 bg-primaryColor rounded-xl shadow-lg text-white p-3 min-h-full z-20;
  }

  .sidebar-nav .list-group .list-group-item {
    @apply flex items-center py-[14px] cursor-pointer hover:bg-primaryColor relative;
  }

  .sidebar-nav .list-group .list-group-item.active {
    @apply after:content-[''] after:absolute after:-left-[13px] after:top-[50%] after:bg-white after:w-2 after:h-[60%] after:-translate-y-[50%];
  }

  .sidebar-nav .list-group .list-group-item svg {
    @apply text-2xl;
  }

  .sidebar-nav .list-group .list-group-item .nav-label {
    @apply ml-4 text-base;
  }

  .sidebar-nav .nav-toggle-btn {
    @apply bg-white w-6 h-6 rounded-full absolute shadow-lg top-12 -right-[10px] flex items-center justify-center;
  }

  .top-nav {
    @apply bg-white rounded-lg py-4 px-5 flex items-center justify-between fixed top-3 mr-4 z-10 drop-shadow-customShadow;
  }

  .main .auth-section svg {
    @apply text-xl;
  }

  #dashboard .card {
    @apply bg-white rounded-lg cursor-pointer drop-shadow-customShadow;
  }

  .top-nav .list-group {
    @apply flex items-center;
  }

  .top-nav .list-group .list-group-item {
    @apply px-3 py-1 text-base flex items-center rounded-md cursor-pointer hover:bg-gray-100;
  }

  .top-nav .list-group .list-group-item.active {
    @apply bg-gray-100;
  }

  div.reservation-banner {
    @apply bg-room-banner overflow-hidden w-full h-[22rem] bg-cover bg-no-repeat bg-center rounded-[1.2rem];
  }

  div.banner-overlay {
    @apply w-full h-[inherit] text-white flex justify-center items-center;
    background-color: rgba(0, 0, 0, 0.537);
  }

  div.room-card {
    @apply w-[80%] mx-auto mt-20 flex justify-center items-center gap-10;
  }

  div.room-card-action {
    @apply flex items-center justify-between mt-4
  }

  button.book-now {
    @apply relative flex items-center gap-2 py-1 before:w-0 before:h-[0.1rem] before:absolute before:bottom-0 before:bg-gray-400 hover:before:w-full before:transition-all before:ease-out before:duration-300;
  }
}

#daterange .p-inputtext {
  border: none;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
  /* min-width: 200px; */
}

.login-screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#frontDeskOverview .p-dropdown .p-dropdown-label.p-inputtext {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}
